<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find mishanya_description)/worlds/mishanya.world" />
	
	<param name="robot_description" command="$(find xacro)/xacro '$(find mishanya_description)/urdf/mishanya.xacro'" />

    	<arg name="x" default="0"/>
	<arg name="y" default="-2"/>
	<arg name="z" default="2"/>
    
        <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="false" output="screen">
                <param name="robot_description" command="$(find xacro)/xacro '$(find mishanya_description)/urdf/mishanya.xacro'"/>
                <remap from="/joint_states" to="/eSAUl/joint_states" />
        </node>   -->
        
        <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(find mishanya_description)/worlds/mishanya.world" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>




        
</launch>
