<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- base property -->


  <xacro:property name="base_height" value="0.21" />
  <xacro:property name="base_mass" value="5" />
  <xacro:property name="base_rad" value="0.4" />
  <xacro:property name="base_length" value="0.21" />

  <!-- base property -->


  <!-- inertial macros -->


   <xacro:macro name="solid_cylinder_inertial"
               params="r h mass *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}"/>
      <inertia ixx="${(mass * h * h)/12 + (mass * r * r)/4}" ixy="0.0" ixz="0.0"
               iyy="${(mass * h * h)/12 + (mass * r * r)/4}" iyz="0.0"
               izz="${mass / 2 * r * r}" />
    </inertial>
  </xacro:macro>

  <!-- inertial macros -->

    <link name="base_link">
      <collision name="collision_chassis">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${base_length}" radius="${base_rad}"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${base_length}" radius="${base_rad}"/>
        </geometry>
      </visual>
      <xacro:solid_cylinder_inertial
            r="${base_rad}" h="${base_length}"
            mass="${base_mass}">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:solid_cylinder_inertial>
    </link>


</robot>